body{
    background-color: rgb(255, 255, 255);
}

/* by nyi commit */
/* end by nyi commit*/

/* by Mr Thein commit */
/* end by Mr Thein commit*/

/* by htinlinn commit */
.thrid-clock{
    font-size: 60px;
}
.thrid-header{
    margin-bottom: 5px;
}
.thrid-drowdown{
    font-size: 9px;
    background-color: black;
    border-radius: 48px;
    padding: 10px;
    opacity: 0.4;
    color: white;
    width: 50px;
}


/* end by htinlinn commit*/

/* by ohnmar commit */
/* end by ohnmar commit*/